@page "/1"
@using SAConfigurationBlazor.Pages.SystemConfiguration
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage ProtectedSessionStore

	<div style="border:3px solid black;">
		<h3><button @onclick="e => this.CommunicationModuleCollapsed = !this.CommunicationModuleCollapsed">
						@( this.CommunicationModuleCollapsed ? "-" : "+")
					</button> <u>Communication Modules </u>
			</h3>
@if (CommunicationModuleCollapsed)
	{
		<table class="table">
			<tbody>
				<tr>
					<td>

						<b>TCP Module Config</b>
					</td>
					<td>
						<b>Enabled: </b>						
						<select @onchange="(TCPModuleConfig) => OnTCPChanged(TCPModuleConfig.Value)">
							@if (@TCPModuleConfig == true)
							{
								<option value="True">True</option>
								<option value="False">False</option>
							}
							else
							{
								<option value="False">False</option>
								<option value="True">True</option>
							}
						</select>	
					</td>
				</tr>
				@if (@TCPModuleConfig == true)
				{
					<tr>
						<TCPModuleConfig></TCPModuleConfig>
					</tr>
				}

				<tr>
					<td>
						@*<button @onclick="e => this.IntegrationConfig = !this.IntegrationConfig">
							@( this.IntegrationCollapsed ? "-" : "+")
							</button>*@
						<b>Integration Config</b>
					</td>
					<td>
						<b>Enabled: </b>						
						<select  @onchange="(IntegrationConfig) => OnIntegrationChanged(IntegrationConfig.Value)">
							@if (@IntegrationConfig == true)
							{
								<option value="True">True</option>
								<option value="False">False</option>
							}
							else
							{
								<option value="False">False</option>
								<option value="True">True</option>
							}
						</select>	
					</td>
				</tr>
				@if (@IntegrationConfig == true)
				{
					<tr><IntegrationConfig></IntegrationConfig></tr>
				}

			</tbody>
		</table>
	}
</div>



@code {
	public bool CommunicationModuleCollapsed { get; set; } = false;
	private bool isConnected;
	public bool? tcpModuleConfig = false;
	public bool? integrationConfig = false;

	[Parameter]
	public bool? TCPModuleConfig { get; set; }
	[Parameter]
	public bool? IntegrationConfig { get; set; }

	protected override void OnParametersSet()
	{
		base.OnParametersSet();

		tcpModuleConfig = TCPModuleConfig;
		integrationConfig = IntegrationConfig;
	}


	protected override void OnInitialized()
	{
		base.OnInitialized();
		tcpModuleConfig = TCPModuleConfig;
		integrationConfig = IntegrationConfig;

	}

	//protected override async Task OnInitializedAsync()
	//{
	//	var result = await ProtectedSessionStore.GetAsync<bool>("intConfig");
	//	integrationConfig = result.Success ? result.Value : false;
	//	isConnected = true;
	//	//base.OnInitialized();
	//	tcpModuleConfig = TCPModuleConfig;
 //   }

	 //protected override async Task OnAfterRenderAsync(bool firstRender)
		//{
  //      if (firstRender)
  //      {
  //          isConnected = true;
  //          await LoadStateAsync();
  //          StateHasChanged();
  //      }
  //  }

	 //private async Task SaveChangesAsync()
  //  {
  //      await ProtectedSessionStore.SetAsync("intConfig", integrationConfig);
  //  }

	public void OnIntegrationChanged(object args)
	{
		if(string.IsNullOrEmpty(args.ToString()))
		{
			IntegrationConfig = null;    
			return;
		}

		bool.TryParse(args.ToString(),out var result);        
		IntegrationConfig = result;
	}

	public void OnTCPChanged(object args)
	{
		if(string.IsNullOrEmpty(args.ToString()))
		{
			TCPModuleConfig = null;    
			return;
		}

		bool.TryParse(args.ToString(),out var result);        
		TCPModuleConfig = result;
	}

	public bool TcpCollapsed { get; set; } = false;
	public bool IntegrationCollapsed { get; set; } = false;


}

