@page "/"
<div><CommunicationModules></CommunicationModules></div>
<br />
<div><ConfigurationChanged></ConfigurationChanged></div>
<br />
<div><DataOutput></DataOutput></div>
<br />
<div><Database></Database></div>
<br />
<div><SensoryAnalytics></SensoryAnalytics></div>